.aboutContainer {
  width: 70%;
  height: 450px;
  display: flex;
  margin-top: 160px;
}

.aboutTitle {
  padding-bottom: 20px;
}

.aboutDescription {
  line-height: 30px;
  font-size: large;
  padding-bottom: 15px;
}

.aboutExplanation {
  width: 70%;
  padding: 50px 20% 50px 50px;
  background: var(--about-background);
  border: 2px solid var(--about-border);
  border-radius: 10px 0px 0px 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.aboutImage {
  width: 30%;
  position: relative;
  border-top: 2px solid var(--about-border);
  border-right: 2px solid var(--about-border);
  border-bottom: 2px solid var(--about-border);
  border-radius: 0px 10px 10px 0px;
  display: flex;
  align-items: center;
}

.aboutImage::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--primary);
  border-radius: 0px 7.5px 7.5px 0px;
}

.imageContainer {
  width: fit-content;
  height: 400px;
  border: 15px solid var(--primary-inverted);
  border-radius: 25px;
  overflow: hidden;
  display: flex;
  background: var(--primary-inverted);
  position: absolute;
  right: -50px;
}

.imageContainer::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--about-image-shade);
}

.image {
  border-radius: 15px;
}

.gitContact {
  width: fit-content;
  border: none;
  background: transparent;
  font-size: larger;
  color: var(--primary-inverted);
  font-weight: bold;
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px,
    rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px,
    rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
}


@media screen and (max-width: 1377px){
  .aboutContainer {
    height: 500px;
    margin-top: 140px;
  }

  .aboutExplanation {
    padding: 50px 20% 50px 50px;
  }
  
  .imageContainer {
    right: -100px;
    height: 350px;
  }
}

@media screen and (max-width: 1175px){
  .aboutContainer {
    flex-direction: column;
    height: unset;
  }

  .aboutExplanation {
    padding: 50px;
    width: 100%;
    border-radius: 10px 10px 0px 0px;
  }

  .imageContainer {
    display: none;
  }

  .aboutImage {
    width: 100%;
    border-radius: 0px 0px 10px 10px;
    height: 200px;
    border-top: none;
    border-left: 2px solid var(--about-border);
  }
  
  .aboutImage::before {
    display: none;
  }
}

@media screen and (max-width: 850px){
  .aboutContainer {
    width: 80%;
  }
}

@media screen and (max-width: 630px){
  .aboutDescription {
    font-size: medium;
  }
}

@media screen and (max-width: 426px){
  .aboutContainer {
    width: 85%;
  }

  .aboutExplanation {
    padding: 30px;
  }
}