.contactSection {
    margin-bottom: 100px;
    width: 60%;
    position: relative;
}

.contactMargin {
    margin-bottom: 140px;
    margin-top: 10px;
}

.contactSectionName {
    margin: 0px 0px 30px 0px;
    text-align: center;
}

.contactContainer {
    display: flex;
    /* transition: cubic-bezier(0.175, 0.885, 0.32, 1.275) 1s; */
    height: 350px;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.firstContactInfo, .lastContactInfo {
    display: flex;
    flex-direction: column;
    padding: 50px;
    width: 50%;
}

.firstContactInfo {
    justify-content: space-between;
    background: var(--about-background);
}

.contactInput {
    width: 100%;
    padding: 10px;
    font-size: large;
    border: 2px solid var(--primary-inverted);
    border-radius: 5px;
    background: transparent;
    color: var(--primary-inverted);
    outline: none;
}

.nameContainer, .emailContainer, .subjectContainer {
    display: flex;
    flex-direction: column;
}

.senderNameLabel, .senderEmailLabel, .messageSubjectLabel {
    padding-bottom: 5px;
}

.lastContactInfo {
    justify-content: space-between;
    background: var(--primary-inverted);
    position: relative;
    align-items: center;
}

.contactMessage {
    height: 80%;
    width: 100%;
    font-size: medium;
    padding: 10px;
    border: 2px solid var(--primary);
    border-radius: 5px;
    background: transparent;
    color: var(--primary-black);
    outline: none;
    resize: none;
}

.contactButton {
    background: var(--primary);
    border: 2px solid var(--primary);
    padding: 10px 50px;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
    color: var(--primary-inverted);
    width: 100%;
}

.contactButton:active {
    background: transparent;
    color: var(--primary);
}

/* Loading section (a quick fix so not recommended to write code like this) */

.message {
    width: fit-content;
    margin-top: 10px;
    font-size: 14px;
    border-radius: 5px;
    color: var(--primary-black);
    text-align: center;
    padding: 0px 10px;
}

.messageContainer {
    width: 100%;
    display: flex;
    justify-content: center;
    position: absolute;
    bottom: 20px;
}

/* Contact link section */

.contactLinksContainer {
    margin-top: 50px;
}

.contactLinks {
    display: flex;
    justify-content: space-around;
}

.contactLink{
    list-style: none;
    font-size: xx-large;
}

.contactLinksContainerActive {
    margin-top: 100px;
}

@media screen and (max-width: 1340px) {
    .contactSection {
        width: 70%;
    }
}

@media screen and (max-width: 1144px) {
    .contactSection {
        width: 80%;
    }
}

@media screen and (max-width: 910px) {
    .contactContainer {
        flex-direction: column;
        height: unset;
    }

    .firstContactInfo, .lastContactInfo {
        width: 100%;
    }

    .contactMessage {
        height: 200px;
        margin-bottom: 10px;
    }

    .contactInput {
        margin-bottom: 20px;
    }
    
    .firstContactInfo div:last-child .contactInput {
        margin-bottom: 0px;
    }
}

@media screen and (max-width: 525px) {
    .contactLinks {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        row-gap: 20px;
        justify-items: center;
    }
}

@media screen and (max-width: 425px) {
    .firstContactInfo, .lastContactInfo {
        padding: 30px 30px 50px 30px;
    }
}

@media screen and (max-width: 392px) {
    .failedMessageContainer {
        bottom: 10px;
    }
} 

@media screen and (max-width: 370px) {
    .contactLinks {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        row-gap: 20px;
        justify-items: center;
        padding: 20px;
    }
}