.container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--primary);
  height: 900px;
  position: relative;
}

.myDescription {
  font-size: xx-large;
}

.myName {
  font-size: 100px;
  padding-bottom: 5px;
}

.myImage {
  display: block;
  max-width: 100%;
  /* height: 100%; */
}

.imageContainer {
  position: absolute;
  display: inline-block;
  height: 800px;
  width: 700px;
  overflow: hidden;
  top: 30px;
}

.imageContainer::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--hero-main);
  background: linear-gradient(
    0deg,
    var(--hero-main) 0%,
    var(--hero-main) 1%,
    var(--hero-fade) 100%
  );
}

.textContainer {
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: 290px;
}

.developer,
.designer {
  display: inline-block;
  transition: 1s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  background: rgba(255, 255, 255, 0.2);
  padding: 10px 20px;
  border-radius: 5px;
  width: 200px;
  text-align: center;
  /* display: flex; */
}

.developerText,
.designerText {
  display: inline;
}

.designer {
  color: rgb(242, 134, 156);
}

.developer {
  color: rgb(0, 224, 224);
}

.aboutNav {
  position: absolute;
  bottom: 0px;
}

@media screen and (max-width: 850px){
  .container {
    height: 800px;
  }

  .textContainer {
    top: 220px;
  }

  .myName {
    font-size: 80px;
  }

  .myDescription {
    font-size: x-large;
  }

  .imageContainer {
    height: 700px;
    width: 600px;
  }

  .designer, .developer {
    width: 160px;
  }
}

@media screen and (max-width: 630px){
  .container {
    height: 720px;
  }

  .textContainer {
    top: 250px;
  }

  .myName {
    font-size: 60px;
  }

  .myDescription {
    font-size: large;
  }

  .imageContainer {
    height: 600px;
    width: 500px;
    top: 100px;
  }

  .designer, .developer {
    width: 130px;
  }
}

@media screen and (max-width: 500px){
  .container {
    height: 620px;
  }

  .textContainer {
    top: 210px;
  }

  .myName {
    font-size: 50px;
  }

  .imageContainer {
    height: 500px;
    width: 400px;
  }
}

@media screen and (max-width: 410px){
  .container {
    height: 600px;
  }
  .textContainer {
    top: 160px;
  }

  .myName {
    font-size: 40px;
  }

  .myDescription {
    font-size: medium;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .imageContainer {
    height: 400px;
    width: 300px;
    top: 130px;
  }
}