.ShowcaseSection {
    width: 70%;
}

.showRoom {
    margin-bottom: 130px;
    margin-top: 10px;
}

.sectionName {
    margin: 0px 0px 30px 0px;
    text-align: center;
}

.showContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    transition: cubic-bezier(0.175, 0.885, 0.32, 1.275) 1s;
}

.toggleLeft, .toggleRight {
    border: 2px solid var(--primary-inverted);
    background: transparent;
    color: var(--primary-inverted);
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    border-radius: 50%;
    cursor: pointer;
    margin-right: 10px;
}

.arrowContainer {
    display: flex;
    align-items: center;
    padding: 0px 50px;
    width: 100%;
}

.leftNRightContainer {
    display: flex;
}

.statusBarContainer {
    width: 100%;
    background: gray;
    overflow: hidden;
    border-radius: 10px;
}

.statusBar {
    height: 10px;
    border-radius: 10px;
    background: var(--primary-inverted);
    /* background: linear-gradient(to right, rgba(208, 244, 247, 0.5), #d0f4f7, #bcf5fa, #80eef8, #54e8f6, #24deef, #06d4e7); */
    transition: cubic-bezier(0.19, 1, 0.22, 1) 1s;
}

@media screen and (max-width: 1234px) {
    .ShowcaseSection {
        width: 80%;
    }
}

@media screen and (max-width: 500px) {
    .arrowContainer {
        flex-direction: column-reverse;
    }

    .leftNRightContainer {
        padding-top: 20px;
    }

    .sectionName {
        font-size: 25px;
    }
}

@media screen and (max-width: 370px) {
    .sectionName {
        font-size: 20px;
    }
}