.showContainer {
    width: 80%;
    border: 1px solid var(--about-border);
    display: flex;
    align-items: center;
    transition: cubic-bezier(0.175, 0.885, 0.32, 1.275) 1s;
}

.toggleLeft, .toggleRight {
    border: 2px solid var(--primary-inverted);
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    border-radius: 50%;
    cursor: pointer;
}

.toggleLeft:hover, .toggleRight:hover {
    background: var(--primary-inverted);
    color: var(--primary);
}

