.skillContainer {
  width: 70%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sectionTitle {
  margin-bottom: 20px;
  margin-top: 120px;
}

.skillSelector {
  display: flex;
  border: 2px solid var(--about-border);
  border-radius: 10px;
  overflow: hidden;
  margin-bottom: 50px;
  width: fit-content;
  box-shadow: 4px 4px 2px 2px;
}

.frontSelector {
  border-right: 2px solid var(--about-border);
}

.frontSelector,
.backSelector {
  padding: 10px 10px;
  font-size: larger;
  text-align: center;
  font-weight: bold;
  cursor: pointer;
  background: var(--about-background);
}

.active {
  background: var(--primary-inverted);
  color: var(--primary);
}

.skillsWrapper {
  width: 100%;
  border-top: 2px solid var(--about-border);
}

@media screen and (max-width: 910px){
  .skillContainer {
    width: 80%;
  }
}

@media screen and (max-width: 640px){
  .devNDesSkills {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .skillsWrapper {
    border: none;
  }
}

@media screen and (max-width: 460px){
  .devNDesSkills {
    grid-template-columns: 1fr;
  }
}

@media screen and (max-width: 380px){
  .sectionTitle {
    font-size: 25px;
  }

  .skillSelector {
    scale: 0.9;
  }
}