.skillContainer {
  width: 70%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 100px;
}

.sectionTitle {
  margin-bottom: 20px;
  margin-top: 120px;
  /* font-size: 40px; */
}

.skillSelector {
  display: flex;
  border: 2px solid var(--about-border);
  border-radius: 10px;
  overflow: hidden;
  margin-bottom: 50px;
  width: fit-content;
}

.frontSelector {
  border-right: 2px solid var(--about-border);
}

.frontSelector,
.backSelector {
  padding: 10px 10px;
  font-size: larger;
  text-align: center;
  font-weight: bold;
  cursor: pointer;
  background: var(--about-background);
}

.active {
  background: var(--primary-inverted);
  color: var(--primary);
}

.skillsWrapper {
  width: 100%;
  border-top: 2px solid var(--about-border);
}