.container {
  width: 80%;
  position: fixed;
  display: flex;
  justify-content: space-between;
  padding: 10px 40px 10px 0px;
  height: 70px;
  background: var(--navigation-background);
  backdrop-filter: blur(10px);
  border-radius: 10px;
  align-items: center;
  top: 30px;
  overflow: hidden;
  z-index: 10;
}

.navContainer {
  display: flex;
  list-style: none;
}

.navbarLink {
  margin-left: 20px;
  padding: 10px 20px;
  border: 2px solid var(--primary-inverted);
  font-weight: bold;
  border-radius: 5px;
  cursor: pointer;
}

.navbarLink:hover {
  background: var(--primary-inverted);
  color: var(--primary);
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border: 2px solid var(--primary-inverted);
}

.navbarLink:active {
  background: transparent;
  color: var(--primary-inverted);
}

.logo {
  background: var(--primary-inverted);
  color: var(--primary);
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 70px;
  width: 100px;
}

a {
  text-decoration: none;
  color: var(--primary-inverted);
}

@media screen and (max-width: 910px){
  .container {
    position: fixed;
    width: 100px;
    height: 80px;
    flex-direction: column;
    padding: 0px 10px 40px 10px;
    backdrop-filter: blur(50px);
  }

  .container:hover {
    height: 360px;
    width: 150px;
  }

  .logo {
    padding: 40px 0px 40px 0px;
    background: transparent;
    color: var(--primary-inverted);
  }

  .navContainer {
    flex-direction: column;
  }

  .navContainer:hover {
    display: flex;
  }

  .navbarLink {
    margin: 0;
    text-align: center;
    font-size: small;
    padding: 5px 5px;
    margin-top: 20px;
  }
}