.container {
    width: 80%;
    position: fixed;
    display: flex;
    justify-content: space-between;
    padding: 10px 40px 10px 0px;
    height: 70px;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    border-radius: 10px;
    align-items: center;
    top: 30px;
    overflow: hidden;
    z-index: 10;
}

.navContainer {
    display: flex;
    list-style: none;
}

.navbarLink {
    margin-left: 20px;
    padding: 10px 20px;
    border: 2px solid white;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
}

.navbarLink:hover {
    background: white;
    color: #333;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border: 2px solid white;
}

.navbarLink:active {
    background: transparent;
    color: white;
}

.logo {
    background: white;
    color: #333;
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 70px;
    width: 100px;
}

a {
    text-decoration: none;
    color: white;
}