.project {
    margin: 0px 20px;
    height: 300px;
    width: 100%;
    display: flex;
    align-items: center;
    transition: cubic-bezier(0.175, 0.885, 0.32, 1.275) 1s;
}

.imageContainer {
    width: 50%;
    height: 100%;
}

.explanationContainer {
    width: 50%;
}
