.project {
    margin: 20px 0px;
    height: 350px;
    width: 100%;
    display: flex;
    align-items: center;
    border: 5px solid var(--primary-inverted);
    border-radius: 20px;
    overflow: hidden;
    transition: cubic-bezier(0.175, 0.885, 0.32, 1.275) 1s;
}

.imageContainer {
    width: 35%;
    height: 100%;
    background-position: center !important;
    background-size: cover !important;
    transition: ease-in-out 0.3s;
}

.explanationContainer {
    width: 65%;
    height: 100%;
    padding: 20px 30px;
    background: var(--about-background);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.projectName {
    padding-bottom: 10px;
}

.languageContainer {
    display: flex;
}

.projectAddons {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.projectLanguages {
    margin-right: 10px;
}

.projectLink {
    display: flex;
}

.githunLink, .liveServer {
    display: flex;
    font-size: 30px;
    border: 2px solid var(--primary-inverted);
    padding: 5px;
    border-radius: 50%;
}

.githunLink {
    margin-right: 10px;
}

@media screen and (max-width: 1100px) {
    .projectAddons {
        flex-direction: column;
        align-items: start;
    }

    .projectLink {
        margin-top: 10px;
    }
}

@media screen and (max-width: 977px) {
    .project {
        height: 430px;
    }

    .imageContainer {
        width: 40%;
    }

    .explanationContainer {
        width: 60%;
    }

    .languageContainer {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-auto-rows: 30px;
    }
}

@media screen and (max-width: 910px) {
    .project {
        height: unset;
        flex-direction: column;
    }

    .imageContainer {
        height: 400px;
        width: 100%;
        /* background-attachment: fixed !important; */
    }

    .explanationContainer {
        height: fit-content;
        width: 100%;
    }

    .projectDesc {
        padding-bottom: 20px;
    }

    .languageContainer {
        display: flex;
    }
}

@media screen and (max-width: 700px) {
    .imageContainer {
        height: 300px;
    }
}


@media screen and (max-width: 500px) {
    .languageContainer {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-auto-rows: 30px;
    }
}

@media screen and (max-width: 370px) {
    .imageContainer {
        height: 200px;
    }
}