.project {
    margin: 20px 0px;
    height: 400px;
    width: 100%;
    display: flex;
    align-items: center;
    border: 5px solid var(--primary-inverted);
    border-radius: 20px;
    overflow: hidden;
    transition: cubic-bezier(0.175, 0.885, 0.32, 1.275) 1s;
}

.imageContainer {
    width: 40%;
    height: 100%;
    background-position: center !important;
    background-size: cover !important;
    transition: ease-in-out 0.3s;
}

.explanationContainer {
    width: 60%;
    height: 100%;
    padding: 20px 30px;
    background: var(--about-background);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.projectName {
    padding-bottom: 10px;
}

.languageContainer {
    display: flex;
    justify-content: end;
}

.projectAddons {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.projectLanguages {
    margin-right: 10px;
}

.projectLink {
    display: flex;
    justify-content: end;
}

.githunLink, .liveServer {
    display: flex;
    font-size: 30px;
    border: 2px solid var(--primary-inverted);
    padding: 5px;
    border-radius: 50%;
}

.githunLink {
    margin-right: 10px;
}