.message {
    width: fit-content;
    margin-top: 10px;
    font-size: small;
    border-radius: 3px;
    text-align: center;
    color: var(--primary-black);
}

.messageContainer {
    width: 100%;
    display: flex;
    justify-content: center;
    position: absolute;
    bottom: 20px;
}